    <!DOCTYPE html>
    <html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if libro %}{{ libro.title }}{% else %}Detalle del Libro{% endif %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/styled.css' %}">
    </head>
    <body>
        <header>
        <h1>{% if libro %}{{ libro.title }}{% else %}Detalles del Libro{% endif %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Página Principal</a></li>
                <li><a href="{% url 'buscar_libros' %}">Buscar Libros</a></li>
            </ul>
            </nav>
        </header>

        <main>
            {% if libro %}
                <section>
                    <h2>{{ libro.volumeInfo.title|default:'Título no disponible' }}</h2>
                    <p><strong>Autor:</strong> {{ libro.volumeInfo.authors|join:", "|default:'No disponible' }}</p>
                    <p><strong>Descripción:</strong> {{ libro.volumeInfo.description|default:'No disponible' }}</p>
                    <p><strong>Editorial:</strong> {{ libro.volumeInfo.publisher|default:'No disponible' }}</p>
                    <p><strong>Año de publicación:</strong> {{ libro.volumeInfo.publishedDate|default:'No disponible' }}</p>

                    {% if libro.volumeInfo.imageLinks %}
                        <img src="{{ libro.volumeInfo.imageLinks.thumbnail }}" alt="Portada del libro">
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                </section>
            {% else %}
                <p>{{ error }}</p>
            {% endif %}
        </main>

        <footer>
            <p>&copy; 2024 Biblioteca Germán Arciniegas</p>
        </footer>
    </body>
    </html>